:root {
  --primary: yellow;
  --primaryDark: #222;
  --primaryGray: #333;
  --primaryLight: #bbb;
  --primaryWhite: #eee;
  --primaryBlue: #009;
  --primaryRed: #c4302b;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto;
}

.section {
  min-height: 100vh;
}
