* {
  font-family: Roboto;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.App {
  width: 100%;
}

.nav-logo {
  text-decoration: none;
  color: #fff;
  font-size: 36px;
  text-shadow: 1px 2px #000;
}

.MuiListItemIcon-root.icon-container {
  min-width: 35px;
}

.icon-delete {
  color: #c4302b;
}

.main-shopping-list .MuiListItem-root {
  border: 1px solid #ccc;
}

.section {
  width: 100%;
  max-width: 1000px;
  padding: 25px;
  margin: auto;
}
